

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.styleTree {
  display: flex;
  justify-content: center;
  width: 50%;
}

.descriptionStyle {
  display: flex;
  justify-content: center;
  width: 50%;
  color: white;
}
